:root {
    --header-color: #212121;
    --text-color: #757575;
    --background-solutions-color: #2F303A;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --second-header-color: #FFFFFF;
    --accent-color: #2196F3;
    --team-background-color: #F5F4FA;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* ---header section--- */

.header {
    background-color: #FFFFFF;
}

.header-logo {
font-family: 'Raleway';
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.logo-part {
    color: var(--accent-color);
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var (--header-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.contacts {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* ----Main section------ */

.solutions {
    background-color: var(--background-solutions-color)
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* ---advantages section--- */

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}

.advantage-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ---About us section--- */

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

/* ---team section--- */

.team-section {
    background-color: var(--team-background-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--header-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.team-duty {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* ---Footer section--- */

.footer {
    background-color: var(--background-solutions-color);
}

.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-header-color);
}

.finish-logo {
  color: var(--accent-color);  
}

.footer-adress {
font-family: 'Roboto';
font-style: normal; 
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-header-color);
}

/* ----Portfolio----- */

/* ---Buttons----- */

.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.03em;
    background: var(--team-background-color);
    cursor: pointer;
    color: #212121;
    background-color: rgba(245, 244, 250, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* ----Projects----- */

.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
}

.projects-tipe {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
